<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.w2e.firehose" android:versionCode="1" android:versionName="1.0.0">

	<uses-permission android:name="android.permission.INTERNET" />
	
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Light">
    	<!-- All the main Twitter Public Timeline Activities.
    		To change the launched activity, move the intent-filter tag to the 
    		activity you want launched -->
        <activity android:name=".activity.DeadSimpleList" android:label="@string/app_name">
        </activity>
        <activity android:name=".activity.SimpleListUsingThread" android:label="@string/app_name">
        </activity>
        <activity android:name=".activity.SimpleListUsingBackroundTask" android:label="@string/app_name">
        </activity>
        <activity android:name=".activity.SimpleListWithOnClick" android:label="@string/app_name">
        </activity>
        <activity android:name=".activity.ListWithCustomListItem" android:label="@string/app_name">
        </activity>
        <activity android:name=".activity.StyledActivity" android:label="@string/app_name" android:theme="@style/Theme.TwitterFirehose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PersonDetailActivity" />
    </application>
</manifest> 